*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
    
}
.header {
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: blue;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.main  {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.nav {
    width: 300px;
    height: 600px;
    background-color: aqua;
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
}

.section {
    width: 500px;
    height: 600px;
    background-color: blueviolet;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.section h1 {
    margin-top: 20px;
}
.subhead {
    background-color: azure;
    height: 90px;
    width: 450px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.article {
    background-color: rgb(236, 13, 188);
    height: 270px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.subft {
    background-color: rgb(108, 176, 232);
    height: 90px;
    width: 450px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.aside {
    width: 300px;
    height: 600px;
    background-color: darkgrey;
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
}

.footer {
    width: 1200px;
    height: 100px;
    background-color: yellowgreen;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


